<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>
    <h4 class="mb-3">회원 조회(간단)</h4>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>메일</th>
                <th>나이</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td><a href="../../../../resources/templates/members/member.html" th:href="@{/members/{memberId}(memberId=${member.memberId})}" th:text="${member.memberId}">회원id</a></td>
                <td><a href="../../../../resources/templates/members/member.html" th:href="@{/members/{memberId}(memberId=${member.memberId})}" th:text="${member.userName}">이름</a></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.age}"></td>
                <td>
                    <a href="#" th:href="@{/members/{id}/edit (id=${member.memberId})}" class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/members/new}'|"
                    type="button">회원 등록</button>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
