<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<script th:inline="javascript">
    let result = '[(${result})]' || '';

    if (result != '') {
        alert(result);
    }
</script>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>진료 기록 목록</h2>
    </div>
    <h4 class="mb-3 text-center">기록 조회(간단)</h4>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>방문일</th>
                <th>병원명</th>
                <th>진단명</th>
                <th>증상</th>
                <th>처방약</th>
                <th>다음 방문예정일</th>
                <th>닉네임</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${records}">
                <td><a href="../../../../resources/templates/records/record.html" th:href="@{/templates/unuse/{recordId}(recordId=${record.recordId})}" th:text="${record.recordId}">No</a></td>
                <td><a href="../../../../resources/templates/records/record.html" th:href="@{/templates/unuse/{recordId}(recordId=${record.recordId})}" th:text="${#dates.format(record.visitedDate, 'yyyy-MM-dd')}">방문일</a></td>
                <td><a href="../../../../resources/templates/hospitals/hospital.html" th:href="@{/hospitals/{hospitalId}(hospitalId=${record.hospital.hospitalId})}" th:text="${record.hospital.hospitalName}">병원명</a></td>
                <td th:text="${record.diagnosis}"></td>
                <td>
                    <a th:onclick="${record.hasSymptom} ? 'javascript:hasSymptom('+*{record.symptom.symptomId}+')' : 'javascript:symptom('+*{record.recordId}+')'"
                       class="btn btn-outline-info"
                    >증상</a>
                </td>
                <td>
                    <a th:onclick="${record.hasDrug} ? 'javascript:hasDrug('+*{record.recordId}+')' : 'javascript:drug('+*{record.recordId}+')'"
                       class="btn btn-outline-success"
                    >처방약</a>
                </td>
                <td th:text="${#dates.format(record.visitedDate, 'yyyy-MM-dd')}"></td>
                <td><a href="../../../../resources/templates/members/member.html" th:href="@{/members/{memberId}(memberId=${record.member.memberId})}" th:text="${record.member.nickName}">닉네임</a></td>
                <td>
                    <a href="#" th:href="@{/templates/unuse/{id}/edit (id=${record.recordId})}" class="btn btn-outline-info" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example ">
            <ul class="nav justify-content-center">
                <ul class="pagination" >
                    <li class="page-item">
                        <a class="page-link" th:href="@{list?page=1}" aria-label="Previous">
                            <span aria-hidden="true">처음</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{list(page = ${pagination.prevButton})}" aria-label="Previous">
                            <span aria-hidden="true">이전</span>
                        </a>
                    </li>
                    <th:block  th:with="start = ${pagination.startButton}, end = ${pagination.endButton}">
                        <li class="page-item"
                            th:with="start = ${pagination.startButton}, end = ${pagination.endButton}"
                            th:each="pageButton : ${#numbers.sequence(start, end)}">
                            <a class="page-link" th:href="@{list(page = ${pageButton})}" th:text="${pageButton}"></a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" th:href="@{list(page = ${pagination.nextButton})}" aria-label="Next">
                            <span aria-hidden="true">다음</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{list(page = ${pagination.totalButtonCount})}" aria-label="Previous">
                            <span aria-hidden="true">끝</span>
                        </a>
                    </li>
                </ul>
            </ul>
        </nav>
        <div class="col">
            <button class="btn btn-primary float-lg-right"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/records/new}'|"
                    type="button">기록 입력</button>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->
</body>

<script>
    function symptom(recordId){
        if(confirm("입력된 증상이 없습니다. 등록하시겠습니까?")) {
            location.href = 'http://localhost:8080/symptoms/new?recordId=' + recordId ;
        }
    }
</script>
<script>
    function hasSymptom(symptomId){
        location.href = 'http://localhost:8080/symptoms/' + symptomId;
    }
</script>

<script>
    function drug(recordId){
        if(confirm("입력된 처방이 없습니다. 등록하시겠습니까?")) {
            location.href = 'http://localhost:8080/prescriptions/new?recordId=' + recordId ;
        }
    }
</script>
<script>
    function hasDrug(recordId){
        location.href = 'http://localhost:8080/prescriptions/list/' + recordId;
    }
</script>

</html>
