<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<style>
    .fieldError {
        border-color: #bd2121;
    }
</style>

<style>
    .numberError {
        border-color: #3121bd;
    }
</style>
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>병원 수정/삭제</h2>
    </div>
    <h4 class="mb-3">병원 정보 수정</h4>

    <form th:object="${form}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{hospitalId}" />

        <div class="form-group">
            <label th:for="hospitalName">병원명</label>

            <input type="text" th:field="*{hospitalName}" class="form-control" placeholder="병원명을 입력하세요"
                   th:class="${#fields.hasErrors('hospitalName')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('hospitalName')}" th:errors="*{hospitalName}">Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="text">주소</label>
            <input type="text" th:field="*{hospitalAddress}" class="form-control" />
        </div>

        <div class="form-group">
            <label th:for="hospitalContact">연락처</label>

            <input type="number" th:field="*{hospitalContact}" class="form-control" placeholder="숫자만 입력하세요(12자 이내)"
                   th:class="${#fields.hasErrors('hospitalContact')}? 'form-control numberError' : 'form-control'">
            <p th:if="${#fields.hasErrors('hospitalContact')}" th:errors="*{hospitalContact}">Incorrect date</p>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <td><button type="submit" class=" w-100 btn btn-primary btn-lg" >수정</button></td>
            </div>
            <div class="col">
                <td><button onclick="location.href='/'" class=" w-100 btn btn-secondary btn-lg" type="button">취소</button></td>
            </div>
        </div>
    </form>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
<script>
    function deleteHospital(hospitalId){
        if(confirm("정말 삭제하시겠습니까?")){
            location.replace('delete');
        }
    }
</script>
</html>