<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>처방약 목록</h2>
        <div>
            <a href="#" th:href="@{/templates/unuse/{recordId}
                    (recordId=${recordId})}" class="btn btn-outline-info float-lg-left" role="button">진료기록 보기</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>약명</th>
                <th>복용 시작일</th>
                <th>복용 종료일</th>
                <th>하루 복용량</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prescription : ${prescriptions}">
                <td><a href="../../../../resources/templates/prescriptions/prescription.html" th:href="@{/prescriptions/{prescriptionId}(prescriptionId=${prescription.prescriptionDrugId})}"
                       th:text="${prescription.prescriptionDrugId}">No</a></td>
                <td><a href="../../../../resources/templates/drugs/drug.html" th:href="@{/drugs/{drugId}(drugId=${prescription.drug.drugId})}"
                       th:text="${prescription.drug.drugName}">약명</a></td>
                <td th:text="${#dates.format(prescription.durationStart, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(prescription.durationEnd, 'yyyy-MM-dd')}"></td>
                <td th:text="${prescription.dosesCount}"></td>
                <td>
                    <a href="#" th:href="@{/prescriptions/{id}/edit
                    (id=${prescription.prescriptionDrugId})}" class="btn btn-outline-info" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="col">
            <td>
                <a href="#" th:href="'javascript:drug('+*{prescriptions.get(0).getMedicalRecord().recordId}+')'"
                   class="btn btn-primary float-lg-right">처방약 등록</a>
            </td>
            <td>
                <a href="#" th:href="@{/templates/unuse/list}" class="btn btn-warning float-lg-right" role="button">진료기록 목록</a>
            </td>
        </div>



    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>

<script>
    function drug(recordId){
        if(confirm("처방약을 추가하시겠습니까?")) {
            location.href = 'http://localhost:8080/prescriptions/new?recordId=' + recordId ;
        }
    }
</script>
</html>
