<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>처방약 목록</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>약명</th>
                <th>복용 시작일</th>
                <th>복용 종료일</th>
                <th>하루 복용량</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prescription : ${prescriptions}">
                <td th:text="${prescription.prescriptionDrugId}"></td>
                <td><a href="../../../../resources/templates/drugs/drug.html" th:href="@{/drug/{drugId}(drugId=${prescription.drug.drugId})}"
                       th:text="${prescription.drug.drugName}">약명</a></td>
                <td th:text="${prescription.durationStart}"></td>
                <td th:text="${prescription.durationEnd}"></td>
                <td th:text="${prescription.dosesCount}"></td>
            </tr>
            </tbody>
        </table>


    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
