<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>처방약</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장완료'"></h2>

    <div>
        <label for="drugName">약명</label>
        <input type="text" id="drugName" name="drugName" class="form-control" th:value="${prescription.drug.drugName}" readonly>
    </div>
    <div>
        <label for="durationStart">복용 시작일</label>
        <input type="text" id="durationStart" name="durationStart" class="form-control"th:value="${prescription.durationStart}" readonly>
    </div>
    <div>
        <label for="durationEnd">복용 종료일</label>
        <input type="text" id="durationEnd" name="durationEnd" class="form-control"  th:value="${prescription.durationEnd}" readonly>
    </div>
    <div>
        <label for="dosesCount">복용 횟수</label>
        <input type="text" id="dosesCount" name="dosesCount" class="form-control"   th:value="${prescription.dosesCount}" readonly>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/prescriptions/{prescriptionDrugId}/edit(prescriptionDrugId=${prescription.prescriptionDrugId})}'|"
                    type="button">수정</button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='prescriptionList.html'"
                    th:onclick="|location.href='@{/prescriptions/list/{recordId}(recordId=${prescription.medicalRecord.recordId})}'|"
                    type="button">목록으로</button>
        </div>
    </div>
    <br/>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>