<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>약 조회</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장완료'"></h2>

    <div>
        <label for="drugId"약 ID></label>
        <input type="text" id="drugId" name="drugId" class="form-control" value="1" th:value="${drug.drugId}" readonly>
    </div>
    <div>
        <label for="drugName">약명</label>
        <input type="text" id="drugName" name="drugName" class="form-control" value="A" th:value="${drug.drugName}" readonly>
    </div>
    <div>
        <label for="drugComponent">약성분명</label>
        <input type="text" id="drugComponent" name="drugComponent" class="form-control" value="A" th:value="${drug.drugComponent}" readonly>
    </div>


    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/drugs/{drugId}/edit(drugId=${drug.componentId})}'|"
                    type="button">수정/삭제</button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='drugList.html'"
                    th:onclick="|location.href='@{/drugs/list}'|"
                    type="button">목록으로</button>
        </div>
    </div>
    <br/>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>