<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<script th:inline="javascript">
    let result = '[(${result})]' || '';

    if (result != '') {
        alert(result);
    }
</script>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>약 목록</h2>
    </div>
    <h4 class="mb-3 text-center">약 조회</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>약명</th>
                <th>성분명</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="drug : ${drugs}">
                <td><a href="../../../../resources/templates/drugs/drug.html" th:href="@{/drugs/{drugId}(drugId=${drug.drugId})}" th:text="${drug.drugId}">id</a></td>
                <td th:text="${drug.drugName}">약명</td>
                <td th:text="${drug.drugComponent}">성분명</td>
                <td>
                    <a href="#" th:href="@{/drugs/{id}/edit (id=${drug.drugId})}" class="btn btn-outline-info" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    <nav aria-label="Page navigation example ">
        <ul class="nav justify-content-center">
            <ul class="pagination" >
                <li class="page-item">
                    <a class="page-link" th:href="@{list?page=1}" aria-label="Previous">
                        <span aria-hidden="true">처음</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{list(page = ${pagination.prevButton})}" aria-label="Previous">
                        <span aria-hidden="true">이전</span>
                    </a>
                </li>
                <th:block  th:with="start = ${pagination.startButton}, end = ${pagination.endButton}">
                    <li class="page-item"
                        th:with="start = ${pagination.startButton}, end = ${pagination.endButton}"
                        th:each="pageButton : ${#numbers.sequence(start, end)}">
                        <a class="page-link" th:href="@{list(page = ${pageButton})}" th:text="${pageButton}"></a>
                    </li>
                </th:block>
                <li class="page-item">
                    <a class="page-link" th:href="@{list(page = ${pagination.nextButton})}" aria-label="Next">
                        <span aria-hidden="true">다음</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{list(page = ${pagination.totalButtonCount})}" aria-label="Previous">
                        <span aria-hidden="true">끝</span>
                    </a>
                </li>
            </ul>
        </ul>
    </nav>
    <div class="col">
        <button class="btn btn-primary float-lg-right"
                onclick="location.href='addForm.html'"
                th:onclick="|location.href='@{/drugs/new}'|"
                type="button">약 등록</button>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->
</body>

</html>
