<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>약 목록(성분)</h2>
    </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>성분명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="drug : ${drugs}">
                <td th:text="${drug.drugId}">Id</td>
                <td th:text="${drug.drugName}">성분명</td>
                <td>
                    <a href="#" th:href="@{/drugs/{id}/edit (id=${drug.drugId})}" class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/drugs/new}'|"
                    type="button">성분 등록</button>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->
</body>

</html>
