<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript">
        function deleteRecord(recordId){
            if(confirm("정말 삭제하시겠습니까?")){
                location.replace('delete');
            }
        }
    </script>

    <style>
        .container {
            max-width: 800px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>진료 기록 수정</h2>
    </div>
    <form action="record.html" th:action method="post">
        <div>
            <label for="recordId">진료 기록 No</label>
            <input type="text" id="recordId" name="recordId" class="form-control" value="1"
                   th:value="${record.recordId}" readonly>
        </div>
        <div>
            <label for="visitedDate">방문일</label>
            <input type="date" id="visitedDate" name="visitedDate" class="form-control"
                   value="A" th:value="${record.visitedDateString()}"
                   placeholder="병원 방문일을 입력하세요">
        </div>
        <div>
            <div>진료과</div>
            <select th:field="*{record.medicalDepartmentCode}" class="form-select">
                <option value="">==진료과 선택==</option>
                <option th:each="medicalDepartmentCode : ${medicalDepartmentCodes}" th:value="${medicalDepartmentCode.code}"
                        th:text="${medicalDepartmentCode.displayName}">FAST</option>
            </select>
        </div>

        <div>
            <label for="doctorName">담당의</label>
            <input type="text" id="doctorName" name="doctorName" class="form-control"
                   value="A" th:value="${record.doctorName}"
                   placeholder="진료받은 의사 이름을 입력하세요">
        </div>
        <div>
            <label for="diagnosis">진단명</label>
            <input type="text" id="diagnosis" name="diagnosis" class="form-control"
                   value="10000" th:value="${record.diagnosis}"
                   placeholder="진단명 입력하세요">
        </div>
        <div>
            <label for="etc">기타</label>
            <input type="text" id="etc" name="etc" class="form-control"
                   value="10" th:value="${record.etc}"
                   placeholder="예)주사처치, 드레싱 등 추가 입력 필요한 사항을 입력하세요">
        </div>
        <div>
            <label for="price">진료비</label>
            <input type="text" id="price" name="price" class="form-control"
                   value="10000" th:value="${record.price}"
                   placeholder="청구된 진료비를 입력하세요">
        </div>
        <div>
            <label for="nextVisitDate">방문 예정일</label>
            <input type="date" id="nextVisitDate" class="form-control"
                   value="A" th:value="${record.nextVisitDateString()}"
                   placeholder="병원 방문 예정일을 입력하세요">
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장
                </button>
            </div>

            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='record.html'"
                        th:onclick="|location.href='@{/records/record/{recordId}(recordId=${record.recordId})}'|"
                        type="button">취소</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-danger btn-lg"
                        th:onclick="deleteRecord('[[${record.recordId}]]')"
                        type="button">삭제</button>
            </div>

        </div>
    </form>
</div> <!-- /container -->
</body>
</html>