<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>진료기록 조회(상세)</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장완료'"></h2>

    <div>
        <label for="recordId"기록 No></label>
        <input type="text" id="recordId" name="recordId" class="form-control" value="1" th:value="${record.recordId}" readonly>
    </div>

    <div>
        <label for="visitedDate">방문일</label>
        <input type="text" id="visitedDate" name="visitedDate" class="form-control" value="A" th:value="${record.visitedDateString()}" readonly>
    </div>

    <div>
        <div>진료과</div>
        <select th:field="*{record.medicalDepartmentCode}" class="form-select" disabled>
            <option value="">==진료과 선택==</option>
            <option th:each="medicalDepartmentCode : ${medicalDepartmentCodes}" th:value="${medicalDepartmentCode.code}"
                    th:text="${medicalDepartmentCode.displayName}">FAST</option>
        </select>
    </div>

    <div>
        <label for="hospitalName">병원명</label>
        <input type="text" id="hospitalName" name="hospitalName" class="form-control" th:value="${record.hospital.hospitalName}" readonly>
    </div>

    <div>
        <label for="doctorName">담당의</label>
        <input type="text" id="doctorName" name="doctorName" class="form-control"  value="012-345-789" th:value="${record.doctorName}" readonly>
    </div>
    <div>
        <label for="diagnosis">진단명</label>
                <input type="text" id="diagnosis" name="diagnosis" class="form-control"  value="012-345-789" th:value="${record.diagnosis}" readonly>
            </div>
            <div>
                    <label for="etc">기타 입력사항</label>
                        <input type="text" id="etc" name="etc" class="form-control"  value="012-345-789" th:value="${record.etc}" readonly>
            </div>
            <div>
                    <label for="price">진료비</label>
                            <input type="text" id="price" name="price" class="form-control"  value="012-345-789" th:value="${record.price}" readonly>
            </div>
            <div>
                <label for="nextVisitDate">진료 예정일</label>
                <input type="text" id="nextVisitDate" name="nextVisitDate" class="form-control"  value="012-345-789" th:value="${record.nextVisitDateString()}" readonly>
            </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/records/{recordId}/edit(recordId=${record.recordId})}'|"
                    type="button">수정/삭제</button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='recordList.html'"
                    th:onclick="|location.href='@{/records/list}'|"
                    type="button">목록으로</button>
        </div>
    </div>

    <br/>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>