<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron" style="text-align: center">
        <h1>🏥My Medical Record🏥</h1>
        <p class="lead">👪회원 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/members/new">회원 등록</a>
            <a class="btn btn-lg btn-secondary" href="/members/list">회원 조회</a>
        </p>
        <p class="lead">🏥병원 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/hospitals/new">병원 추가</a>
            <a class="btn btn-lg btn-secondary" href="/hospitals/list">병원 목록</a>
        </p>
        <p class="lead">💊약 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/drugs/new">약 등록(성분)</a>
            <a class="btn btn-lg btn-secondary" href="/drugs/list">약 목록</a>
        </p>
        <p class="lead">🖋병원 진료 기록</p>
        <p>
            <a class="btn btn-lg btn-info" href="/records/new">기록 입력</a>
            <a class="btn btn-lg btn-secondary" href="/records/list">기록 조회</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

</html>