<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />

<style>
    .fieldError {
        border-color: #bd2121;
    }
</style>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="py-5 text-center">
        <h2>증상 수정/삭제</h2>
    </div>
    <h4 class="mb-3">증상 수정</h4>

    <form th:object="${form}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">

            <label th:for="simpleSymptom">간단 증상</label>

            <input type="text" th:field="*{simpleSymptom}" class="form-control" placeholder="예) 복통, 치통(20자 이내)"
                   th:class="${#fields.hasErrors('simpleSymptom')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('simpleSymptom')}" th:errors="*{simpleSymptom}">Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="detailSymptom">증상</label>
            <input type="text" th:field="*{detailSymptom}" class="form-control"
                   placeholder="자세한 증상을 입력해주세요">
        </div>

        <div class="form-group">
            <label th:for="startDate">증상 시작일</label>
            <input type="date" th:field="*{startDate}" class="form-control">
        </div>

        <div class="form-group">
            <label th:for="bodyTemperature">체온</label>
            <input type="number" step="0.1" th:field="*{bodyTemperature}" class="form-control"
                   placeholder="체온을 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="pulse">맥박</label>
            <input type="number" th:field="*{pulse}" class="form-control"
                   placeholder="맥박을 입력하세요">
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg">
                    <label th:for="bloodPressure">수축기혈압</label>
                    <input type="number" class="form-control" th:field="*{systolic}" placeholder="수축기혈압">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg">
                    <label th:for="bloodPressure">이완기혈압</label>
                    <input type="number" th:field="*{diastolic}" class="form-control" placeholder="이완기혈압">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label th:for="oxygenSaturation">산소포화도</label>
            <input type="number" th:field="*{oxygenSaturation}" class="form-control"
                   placeholder="산소포화도를 입력하세요">
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <td><button type="submit" class=" w-100 btn btn-primary btn-lg" >수정</button></td>
            </div>
            <div class="col">
                <td><button onclick="location.href='/'" class=" w-100 btn btn-secondary btn-lg" type="button">취소</button></td>
            </div>
        </div>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
    function deleteSymptom(symptomId){
        if(confirm("정말 삭제하시겠습니까?")){
            location.replace('delete');
        }
    }
</script>
</html>