<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="py-5 text-center">
        <h2>증상 목록</h2>
    </div>
    <h4 class="mb-3 text-center">증상 조회(간단)</h4>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>증상</th>
                <th>증상 시작일</th>
                <th>병원 방문일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="symptom : ${symptoms}">
                <td><a href="../../../../resources/templates/symptoms/symptom.html" th:href="@{/symptoms/{symptomId}(symptomId=${symptom.symptomId})}" th:text="${symptom.symptomId}">No</a></td>
                <td th:text="${symptom.simpleSymptom}"></td>
                <td th:text="${#dates.format(symptom.startDate, 'yyyy-MM-dd')}"></td>
                <td><a href="../../../../resources/templates/records/record.html" th:href="@{/records/{recordId}(recordId=${symptom.recordId})}"
                       th:text="${#dates.format(symptom.visitedDate, 'yyyy-MM-dd')}">병원방문일</a></td>

                <td>
                    <a href="#" th:href="@{/symptoms/{id}/edit (id=${symptom.symptomId})}" class="btn btn-outline-info" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example ">
            <ul class="nav justify-content-center">
                <ul class="pagination" >
                    <li class="page-item">
                        <a class="page-link" th:href="@{list?page=1}" aria-label="Previous">
                            <span aria-hidden="true">처음</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{list(page = ${pagination.prevButton})}" aria-label="Previous">
                            <span aria-hidden="true">이전</span>
                        </a>
                    </li>
                    <th:block  th:with="start = ${pagination.startButton}, end = ${pagination.endButton}">
                        <li class="page-item"
                            th:with="start = ${pagination.startButton}, end = ${pagination.endButton}"
                            th:each="pageButton : ${#numbers.sequence(start, end)}">
                            <a class="page-link" th:href="@{list(page = ${pageButton})}" th:text="${pageButton}"></a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" th:href="@{list(page = ${pagination.nextButton})}" aria-label="Next">
                            <span aria-hidden="true">다음</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{list(page = ${pagination.totalButtonCount})}" aria-label="Previous">
                            <span aria-hidden="true">끝</span>
                        </a>
                    </li>
                </ul>
            </ul>
        </nav>
        <td>
            <a href="#" th:href="@{/records/list}" class="btn btn-warning float-lg-right" role="button">진료기록</a>
        </td>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->
</body>
</html>
